$backgroundColor: #dee5e9;
$menuColor: #f2f6fa;
$bacgroundDarkerBlue: #dee5e9;
$mainBlue: #35bfeb;
$darkFont: #45494F;
$blueGradient1: #46c4ed;
$blueGradient2: #039dc9;
$blueGrey: #ecf0f2;
$darkGrey: #667b88;
$mainBlue: #35bfeb;
$lightBlue: #4acddd;


$backgroundWidth: 1280px;
$backgroundHeight: 1700px;
$rightContainer: 280px;
$leftContainer: ($backgroundWidth) - ($rightContainer) - 160px;